<div class="page-header row">
  <h2 class="col-md-12 page-heading">ADRL Scholar Directory</h2>
</div>

<p>There are a few people at UCSB who publish stuff.  This is like a guest book for them to write down their name when that happens.</p>
